<!DOCTYPE html>
<html>
<head>
    {% load static%}
    <title>AI Studdy Buddy</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'main.css' %}"
        />
</head>
<body>
    <nav class="navbar">
        <h1>AI Study Buddy</h1>
    </nav>

    <div class="container">
        <!-- LEFT SIDE BAR -->
        <div id="left-sidebar">
            <h3>Menu</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <!-- END OF LEFT SIDE BAR -->

        <!-- CONVERSATION WINDOW -->
        <div id="conversation-window">
            <!-- PREVIOUS CONVERSATIONS -->
            <div id="conversations-sidebar">
                <h3>Previous Chats</h3>
                <ul class="conversations-list">
                    {% for chat in conversations %}
                        <li><a href="#">{{ chat.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- END OF PREVIOUS CONVERSATIONS -->


            <!-- CHAT WINDOW -->
            <div class="chat-window">
                <div class="message bot-message">
                    Welcome to our Chatbot! How can I assist you today?
                </div>
                <div class="message user-message">
                    Hi there! I need some help with my account.
                </div>
                <!-- More messages here -->

                <div class="chat-input-area">
                    <input type="text" id="user-input" placeholder="Type your message here..." />
                    <button id="send-button">Send</button>
                </div>
            </div>
            <!-- END OF CHAT WINDOW -->

            <!-- CHAT CONTEXT LOADER -->
            <div class="sidebar" id="right-sidebar">
                <button id="load-pdf-button">Load Files from CANVAS</button>
                <br>

                <h3>Course Files</h3>
                <div class="accordion">
                    {% for course in course_files %}
                        <div class="accordion-item">
                            <button class="accordion-button" onclick="toggleAccordion(event, '{{ course.course_name }}')">{{ course.course_name }}</button>
                                <div class="panel" id="{{ course.course_name }}">
                                    {% for file in course.files %}
                                    <div style="margin-bottom: 2%;">
                                        <label>
                                            <input type="checkbox" value="{{file.id }}" class="select_files" />
                                            <a style="text-decoration: none;" href="{{ file.url }}" target="_blank">{{ file.name }}</a>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                        </div>
                    {% endfor %}
                </div>

                <button id="update-convo-context" >Update Context</button>

                <!-- <div id="pdf-modal" class="modal">
                    <div id="pdf-modal-content" class="modal-content">
                        <span class="close-button">&times;</span>
                        <h2>Select Files to load by Course</h2>
                        <p>The selected files can then be used as context for your conversations.</p>
                        
                        <div id="course-content">
                            <div id="canvas-courses-accordion" class="accordion">
                                
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button id="index-files-button" type="button" class="btn btn-success">Load Files</button>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- END OF CHAT CONTEXT LOADER -->
        </div>
    </div>

    <!-- Add Bootstrap JS and its dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- custom JS -->
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'chat.js' %}"></script>
    <!-- <script src="{% static 'chatt.js' %}"></script> -->

</body>
</html>
